{% extends 'layout.html' %}

{% block content %}
  <!-- Welcome Section -->
  <section class="welcome-section text-center">
    <div class="container">
        <h1 class="welcome-heading">Welcome to Our Website!</h1>
        <p class="welcome-subheading">We're glad to have you here. Explore and enjoy our content.</p>
        <a href="/auth/login" class="btn btn-primary btn-lg">login</a>
    </div>
</section>
<script src ="{{url_for('static', path='/js/login.js') }}" ></script>
<script src ="{{url_for('static', path='/js/editTodo.js') }}" ></script>
<script src ="{{url_for('static', path='/js/register.js') }}" ></script>
<script src ="{{url_for('static', path='/js/register.js') }}" ></script>
<script src ="{{url_for('static', path='/js/addTodo.js') }}" ></script>
<script src ="{{url_for('static', path='/js/utilities.js') }} " ></script>
{% endblock %}