{% extends 'layout.html' %}

{% block content %}
  <!-- Welcome Section -->
  <section class="welcome-section text-center">
    <div class="container">
        <h1 class="welcome-heading">Hello {{user.email}}</h1>
        <p class="welcome-subheading">You're in your account</p>
        
        {% if todos %}
          <!-- Table to display TODO items -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for todo in todos %}
                {% if not todo.complete %}
                  <tr data-id="{{ todo.id }}">
                    <td>{{ loop.index }}</td>
                    <td class="todo-title">{{ todo.title }}</td>
                    <td>{{ todo.description }}</td>
                    <td>{{todo.priority}}<td>
                    <td><input type="checkbox" class="todo-checkbox" data-id="{{ todo.id }}"></td>
                    <td>
                      <button class="btn btn-primary btn-sm delete-btn" id="deleteBtn-{{ todo.id }}" style="display: none; ">Delete</button>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No TODO items found.</p>
        {% endif %}
        <a href="/todo/add-todo">
          <button class="btn btn-primary">Add Todo</button>
        </a>
    </div>
  <script src ="{{url_for('static', path='/js/login.js') }}" ></script>
    <script src ="{{url_for('static', path='/js/editTodo.js') }}" ></script>
    <script src ="{{url_for('static', path='/js/register.js') }}" ></script>
    <script src ="{{url_for('static', path='/js/register.js') }}" ></script>
    <script src ="{{url_for('static', path='/js/addTodo.js') }}" ></script>
    <script src ="{{url_for('static', path='/js/deleteTodo.js') }} " ></script>
    <script src ="{{url_for('static', path='/js/utilities.js') }} " ></script>
{% endblock %}
